* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header {
display: flex;

}
.brand {
    background-color: rgb(202, 127, 227); 
    font-size: medium;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0em;
    border: none;
}

.my-picture {
    display: flex;
    justify-content:flex-end;
    border: top width 15%;
    height: auto;
    width: 200px;
    flex-direction:column;
    
}
 
.purple-smoke {
    display: flex;
    background-image: url(./purple.jpeg);
    height: 26vh;

}

.main-section-box {
    display: flex;
    flex-direction: row;
    font-size: x-large;
}

.nav-bar {
    margin-top: 10px;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(110, 197, 168);
    color: blueviolet;
}
div nav ul {
    font-size: x-large;
    display: flex;
    flex-direction: row;
 }
 
 ul {
    list-style-type: none;
    color: blueviolet;
    
}

li {
    margin-right: 10px;
    color: blueviolet;
        
}
 a {
    color: black;
 }

.sub-section-title {
/* background-color: rgb(110, 197, 168); */
color: blueviolet;
justify-content: right;
text-align: right;
display: flex;
margin-right: 15px;
}

.horiseon {
    color: blueviolet;
    text-align: center;
    
    background-size: cover;
    /* height: 27vh; */
    display: flex;
    flex-direction: row;
    font-size: x-large;
}

.work-section {
    color:black;
    text-align: center;
    background-image: url(./horiseon-pic.png);
    background-size: cover;
    height: 27vh;
}

.pink-blue {
    color:black;
    text-align: center;
    background-image: url(./pinknblue.jpeg);
    background-size: cover
}

.sparkles {
    color:black;
    text-align: center;
    background-image: url(./sparkles.jpeg);
    background-size: cover
}

.dark-sparkles {
    color:aliceblue;
    text-align: center;
    background-image: url(./dark\ sparkle.jpeg);
    background-size: cover
}
.header nav ul {
    display: flex;
    background-color: blue;
    color: blueviolet;
    flex-direction: row;
    align-items: center;
    font-size: 3em;
    font-weight: bold;
}

@media screen and (min-width: 650px0) 
    header {
        flex-direction: row;
        justify-content: space-between;
    }  

/* .horiseon {
    background-image: url(./horiseon.png); */
}